<h1>Hello Level Up In Tech!</h1>
<h3>Anyone can transition to DevOps. The steps are: </h3>
<ol>
    <li>Enroll in Level Up In Tech</li>
    <li>Trust the process & your Coaches</li>
    <li>Work hard </li>
    <li>Be consistent</li>
    <li>Stay Humble</li>
    <li>Cancel all future plans for 6 months</li>
    <li>Don't take yourself so seriously</li>
    <li>and lastly, HAVE FUN!!!</li>
</ol>
<body style="background-color:palevioletred;"></body>
<iframe src="https://giphy.com/embed/Awuqdc4Rj6MbS" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Awuqdc4Rj6MbS">via GIPHY</a></p>